@font-face {
    font-family: 'Uni Tortred';
    src: url('content/UniTortred.ttf');
    
    font-weight: normal;
    font-style: normal;
 
}
*{
	margin: 0;
	padding: 0;
}
body{
    margin: 0 auto;
    background: #ccc;
    font-family: "microsoft yahei",sans-serif;
}
a{
	text-decoration: none;
	color: #FFF;
}
.header{
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	/*background: #3F5999;*/
	z-index: 100000;
	
}
.header a{
	line-height: 40px;
	float: right;
	margin: 0 20px;
}
.page{
	min-height: 100vh;
	max-width: 1620px;
	margin: 0 auto;
	color: #FFF;
	overflow: hidden;
	position: relative;
}
.page h1{
	font-weight: normal;
}
.page1{
	background-image: url(content/images/849175cd076087a6f15d214ee93b71b6.jpg);
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	overflow: hidden;
}
.page1 .website-title{
	font-family: "Uni Tortred";
	text-align: center;
	font-size: 40px;
}
.page1 .web-developer-describe{
	font-family: "Uni Tortred";
	height: 30px;
	margin: 50px 0;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}
.my-des{
	text-align: center;
	margin-top: 100px;
}
.my-des .myWorksTitle{
	padding: 10px 25px;
	border: 2px solid #FFF;
	border-radius: 5px;
	cursor: pointer;
	transition: 1s all;
	display: block;
	margin: 0 auto;
	max-width: 150px;
}
.my-des .myWorksTitle:hover{
	transform: scale(1.2,1.2);
}

.carouselBlastBox{
	width: 100%;
}



.page2{
	background: #FFF;
	padding-bottom: 30px;
}
.page2 h1{
	color: #aaa;
	margin: 50px auto;
	text-align: center;
}
.page2 .myWorks{
	max-width:1200px;
	margin: 0 auto;
	overflow: hidden;
}
.page2 .myWorks .one-work{
	background: #FFF;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}
.page2 .myWorks .one-work .one-work-inside{
	padding-bottom:100%;
	position: relative;
	overflow: hidden;
}
.page2 .myWorks .one-work .one-work-inside img{
	height: 100%;
	position: absolute;
}
.page2 .myWorks .one-work .one-work-inside .work-inside-des{
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	color: #FFF;
	text-align: center;
}
.one-work-inside .work-inside-des p:nth-child(1){
	margin-top: 40%;
	font-size: 16px;
}
.one-work-inside .work-inside-des p:nth-child(2){
	margin-top: 10px;
	font-size: 12px;
}
.page3{
	background: #54b3a5;
}
.page3 h1{
    margin: 50px auto;
    text-align: center;
}
.my-msg{
	margin :40px auto;
	width: 400px;
}
.call-me{
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin-left: 10px;
	cursor: pointer;
	animation-name: buzz-out;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.animate-show-up{
	opacity: 0;
	transform: translateX(300px);	
}
.page3Animate .animate-show-up{
	animation: show-up 1.2s;
    animation-fill-mode: forwards;
}
.my-emial{
	opacity: 0;
}
span.animate-show-up{
	display: inline-block;
}
.page3Animate .animateDelay1{
	animation-delay: .5s;
}
.page3Animate .animateDelay2{
	animation-delay: 1s;
}
.page3Animate .animateDelay3{
	animation-delay: 1.5s;
}
.page3Animate .animateDelay4{
	animation-delay: 2s;
}
.page3Animate .animateDelay5{
	animation-delay: 2.5s;
}
.page3Animate .animateDelay6{
	animation-delay: 3s;
}
.page3Animate .animateDelay7{
	animation-delay: 3.5s;
}

.Remarks{
	text-align: center;
}


@-webkit-keyframes buzz-out {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes show-up{
	from{
		transform: translateX(300px);
		opacity: 0;
	}
	to{
		transform: translateY(0);
		opacity: 1;
	}
}
@media only screen and (min-width : 1000px){
	.page2 .myWorks{
		width: 980px;
	}
	.page2 .myWorks .one-work{
		width: 25%;
	}
}
@media only screen and (min-width: 640px) and (max-width : 1000px){
	.page2 .myWorks{
		width: 800px;
	}
	.page2 .myWorks .one-work{
		width: 25%;
	}
}
@media only screen and (max-width: 640px) {
	.page2 .myWorks{
		width: 80%;
	}
	.page2 .myWorks .one-work{
		width: 50%;
	}
}

@media only screen and (max-width: 640px) {
	.page1 .container{
		padding: 100px 10px;
	}
}
@media only screen and (min-width: 640px) {
	.page1 .container{
		padding: 200px 10px;
	}
}
.page1 .container{
	box-sizing: border-box;
	background: rgba(0,0,0,.5);
	z-index: 10000;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}