<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="Web Developer，前端小透明，前端开发个人站">
		<meta name="description" content="Web Developer Ming,前端小透明">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title>前端小透明-Web Developer Ming</title>
		<link rel="shortcut icon" href="content/icon/title.jpg" />
		<link rel="stylesheet" href="scripts/css/index.css" />
		<!--百度统计-->
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?21fb4b6e622d86215a420d672fd75a9a";
				var s = document.getElementsByTagName("script")[0];
				s.parentNode.insertBefore(hm, s);
			})();
		</script>

	</head>

	<body>

		<div class="loading-box">
			<div class="item-inner">
				<img src="content/images/loading.gif" />
			</div>
			<div class="item-title">
			</div>
		</div>
		<div class="pageContainer" id="pageContainer" >
			<!--语言切换-->
			<div class="bg_con">
				<input id="checked_1" type="checkbox" class="switch" v-model="switchs" />
				<label for="checked_1"></label>
			</div>
			<div class="page page1" id="page1">

				<canvas id="canvasHeart"></canvas>
				<div class="container">
					<h1 class="website-title">{{ Language.title }}</h1>
					<h4 class="web-developer-describe"></h4>
					<p class="Remarks">{{ Language.tips }}</p>
					<div class="my-des">
						<a class="myWorksTitle">{{ Language.clickWorks }}</a>
					</div>
				</div>
			</div>
			<div class="page my-achievements">
				<h1>{{ Language.myworksTitle }}</h1>
				<div class="myWorks">
					<div class="one-work" v-for="onework in Language.works">
						<div class="one-work-inside">
							<img :src=onework.bgimage data-imageload="" />
							<a class="work-inside-des" target="_blank" :href=onework.href>
								<p>{{ onework.title }}</p>
								<p>{{ onework.des }}</p>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="page my-Skill">
				<h1>{{ Language.mySkills }}</h1>
				<div class="skillsContainer">
					<div class="mySkill">
						<canvas id="canvas1" width="150px" height="150px"></canvas>
						<div>HTML</div>
					</div>
					<div class="mySkill">
						<canvas id="canvas2" width="150px" height="150px"></canvas>
						<div>CSS</div>
					</div>
					<div class="mySkill">
						<canvas id="canvas3" width="150px" height="150px"></canvas>
						<div>javascript</div>
					</div>
					<div class="mySkill">
						<canvas id="canvas4" width="150px" height="150px"></canvas>
						<div>jQuery</div>
					</div>

				</div>
				<div class="skillsTitle">
					<div class="skillsleve1">
						<span class="skills-title zoomIn">HTML/HTML5</span>
						<span class="skills-title zoomIn">CSS/CSS3</span>
						<span class="skills-title zoomIn">jQuery</span>
						<span class="skills-title zoomIn">AngularJS</span>
						<span class="skills-title zoomIn">vue.js</span>
						<span class="skills-title zoomIn">bootstrap</span>
						<span class="skills-title zoomIn">Underscore.js</span>

					</div>
					<div class="skillsleve2">
						<span class="skills-title zoomIn">gulp</span>
						<span class="skills-title zoomIn">node.js</span>
						<span class="skills-title zoomIn">Zepto.js</span>
						<span class="skills-title zoomIn">require.js</span>
						<span class="skills-title zoomIn">layer.js</span>
						<span class="skills-title zoomIn">swiper.js</span>
					</div>
					<div class="skillsleve3">
						<span class="skills-title zoomIn">echarts</span>
						<span class="skills-title zoomIn">Hybrid APP</span>
						<span class="skills-title zoomIn">PhotoShop</span>
						<span class="skills-title zoomIn">seo</span>
					</div>
					<div class="skillsleve4">
						<span class="skills-title zoomIn">Git</span>
						<span class="skills-title zoomIn">SVN</span>
					</div>
				</div>
			</div>
			<div class="page pageContactMe">
				<h1>{{ Language.mymessageTile }}</h1>
				<div class="my-msg" v-for="(onemessage,index) in Language.messages"><span>{{ onemessage.title }}：</span><span class="animate-show-up" :class=onemessage.classname>{{ onemessage.answer }}</span></div>
			</div>
		</div>
		
		<script data-main="scripts/js/main_require_vue.js" src="libs/script/require.js"></script>
		

	</body>

</html>