<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>VUE购物车</title>
	</head>
	<link rel="stylesheet" type="text/css" href="styles/shoppingCar.css" />
<script src="scripts/vue.min.js"></script>
<script src="scripts/jquery-2.1.1.min.js"></script>
<script src="../../content/Layer/layer.js"></script>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">{{ checked }}</label>
	<div class="buyCarBox" id="buyCarBox" v-cloak>
		<div class="haveCloth" v-if="cloths.length">
			<div class="cloth-thead">
				<div class="cloth-td-head">全部商品{{ cloths.length }}</div>
				<div class="cloth-td-head">商品信息</div>
				<div class="cloth-td-head">尺码/颜色</div>
				<div class="cloth-td-head">吊牌价</div>
				<div class="cloth-td-head">折扣/活动</div>
				<div class="cloth-td-head">数量</div>
				<div class="cloth-td-head">总金额</div>
				<div class="cloth-td-head">操作</div>
			</div>
			<div class="buyCarCloth">
				<div class="hasCloth">
				<ul class="clothBox">
					<li class="cloth-tr" v-for="(ocloth,index) in cloths" :class="{ 'active-tr':ocloth.Checked == 1 }">
						<div class="cloth-td clothImage">
							<span class="checkboxImg" v-bind:data-checked=ocloth.Checked v-on:click=checkedCloth($event,index)>
								<img src="images/information/buyCarNoCheaked.png" />
								<img class="checkedD" v-if=ocloth.Checked src="images/information/buyCarClothChecked.png" />
							</span>
	
							<img :src=ocloth.ImagePath />
						</div>
						<div class="cloth-td clothName">{{ ocloth.Name }}</div>
						<div class="cloth-td sizeColor" v-on:mouseenter=sizeColorMouseEnter($event) v-on:mouseleave=sizeColorMouseLeave($event) >
							<div class="sizeColorList">
								<span class="sizeColorListSJ"></span>
								<div><b>尺寸：</b><span>S</span><span>L</span><span>XL</span></div>
								<div><b>颜色：</b><span>黑色</span><span>蓝色</span><span>红色</span></div>
								<span class="colorSubmit">确定</span><span class="colorCancel" v-on:click=sizeColorMouseLeave($event)>取消</span>
							</div>
							<img class="editSIzeImg" v-on:click=sizeColorEdit($event) src="images/information/editSize.png" />
							<div>{{ ocloth.Size }}</div>
							<div>{{ ocloth.Color }}</div>
						</div>
						<div class="cloth-td clothPrice">{{ ocloth.Price }}</div>
						<div class="cloth-td clothActive">{{ ocloth.Active }}</div>
						<div class="cloth-td clothAddCut">
							<span v-on:click=cutNum(index)> - </span> 
								<input type="number"  :value=ocloth.Count v-model=ocloth.Count v-on:keyup=minNum($event,index) />
							<span v-on:click=addNum(index)> + </span>
						</div>
						<div class="cloth-td">{{ ocloth.Count * ocloth.Price * ocloth.Active }}</div>
						<div class="cloth-td"><img class="delCloth" title="删除" v-on:click=delCloth(index) src="images/information/delIcon.png" /></div>
					</li>
				</ul>
			</div>
			</div>
			<div class="totalCount">
				<div class="totalAllCheck" v-bind:data-state=totalAllCheck v-on:click=AllChecked()>
					<img class="totalAllchecked" src="images/information/buyCarNoCheaked.png" />
					<img v-if=totalAllCheck class="totalAllUnChecked" src="images/information/buyCarClothChecked.png" />
					<span>{{ totalAllCheck ?'全不选':'全选' }}</span>
				</div>
				<div class="goBuy">
					下单
				</div>
				<div class="batchDelCloth" v-on:click=batchDelCloth()>
					删除
				</div>
				<div class="totalPrice" >
					合计
					<span>{{ totalPrice }}</span>
				</div>
				<div class="clothCount" v-on:click="a()">
					已选商品
					<span>{{ totalCount }}</span> 件
				</div>
			</div>
		</div>
		<div class="noCloth" v-else>
			<img class="noClothImage" src="images/information/emptyBuyCar.png" />
			<span class="noClothMsg">您的购物车是空的，快去<a href="#">挑选商品></a></span>
		</div>
	</div>
<script>

		var buyCar = new Vue({
		el: "#buyCarBox",
		data: {
			checked:'false',
			transitionName :  'expand',
			cloths: [{
					ImagePath: 'images/information/carClothDemo.jpg',
					Name: '1',
					Size: 'M',
					Color: '黑色',
					Price: '1680.00',
					Active: '0.5',
					Count: '1',
					Checked: 0,
				},
				{
					ImagePath: 'images/information/carClothDemo.jpg',
					Name: '2',
					Size: 'S',
					Color: '黑色',
					Price: '1680.10',
					Active: '0.1',
					Count: '2',
					Checked: 0
				},
				{
					ImagePath: 'images/information/carClothDemo.jpg',
					Name: '3',
					Size: 'L',
					Color: '蓝色',
					Price: '10.00',
					Active: '0.1',
					Count: '3',
					Checked: 0
				}
			]
		},
		computed: {
			//选中商品总数量
			totalCount: function() {
				var totalCount = 0;
				for(var i = 0; i < this.cloths.length; i++) {
					if(this.cloths[i].Checked == 1) {
						totalCount += parseInt(this.cloths[i].Count)
					}
				}
				if(totalCount == 0) {
					this.totalAllCheck =  0;
					$('.totalAllCheck').addClass('totalUnCheck')
				}
				return totalCount;
			},
			//选中商品总价
			totalPrice: function() {
				var totalPrice = 0;
				for(var i = 0; i < this.cloths.length; i++) {
					if(this.cloths[i].Checked == 1) {
						totalPrice += parseInt(this.cloths[i].Count) * parseFloat(this.cloths[i].Price) * parseFloat(this.cloths[i].Active)
					}
				}
				return totalPrice;
			},
			//全选状态
			totalAllCheck : function(){
				var totalAllCheck = 1;
				for(var i = 0; i < this.cloths.length; i++) {
					totalAllCheck = this.cloths[i].Checked * totalAllCheck;
				}
				return totalAllCheck;
			}
		},
		methods: {
			checkedCloth: function(_this, index) {//单选商品
				var oClothchecked;
				var checked = this.cloths[index].Checked;
				if(checked == 0) {
					this.cloths[index].Checked = 1;
				} else {
					this.cloths[index].Checked = 0;
					oClothchecked = false;
				}
			},
			addNum: function(index) {
				this.cloths[index].Count++;
			},
			cutNum: function(index) {
				if(this.cloths[index].Count > 1) {
					this.cloths[index].Count--;
				}
			},
			minNum:function(_this,index){//商品最小数量限制
				var val = $(_this.currentTarget).val();
				if( this.cloths[index].Count < 1 ){
					this.cloths[index].Count = 1;
				}
			},
			AllChecked: function() {//全选按钮事件
				if($('.totalAllCheck').attr('data-state') == 0 ) {
					//全选
					for(var i = 0; i < this.cloths.length; i++) {
						this.cloths[i].Checked = 1;
					}
				} else {
					//全不选
					for(var i = 0; i < this.cloths.length; i++) {
						this.cloths[i].Checked = 0;
					}
				}
			},
			delCloth: function(index) {//删除某件商品
				this.cloths.splice(index, 1);
			},
			batchDelCloth: function() {//批量删除商品
				var _this = this;
				for(var i = 0; i < this.cloths.length; i++) {
					if( this.cloths[i].Checked == 1 ){
						layer.msg('确定将这些商品移出购物车么？', {
							icon : 7,
							time: 0, //不自动关闭
//							title : '零时尚',
							btn: ['是','否'], //按钮
							yes:function(){
								for(var i = 0, flag = false; i < _this.cloths.length; flag ? i++ : i) {
									if(_this.cloths[i].Checked == 1) {
										_this.cloths.splice(i, 1);
										flag = false;
									} else {
										flag = true;
									}
								}
								//回到顶部
								$('.buyCarCloth .hasCloth').css('top',0)
								layer.msg('删除成功', {icon : 1,time : 1500});
							}
						});
						break;
					}
				}
			},
			sizeColorMouseEnter : function(_this,index){
				$(_this.currentTarget).addClass('editingSizeColor')
			},
			sizeColorMouseLeave : function(_this,index){
				if($(_this.currentTarget).hasClass('colorCancel')){
					$(_this.currentTarget).parents('.sizeColor').removeClass('editingSizeColor');
					$(_this.currentTarget).parents('.sizeColor').find('.sizeColorList').hide();
				}else if($(_this.currentTarget).hasClass('sizeColor')){
					$(_this.currentTarget).removeClass('editingSizeColor');
					$(_this.currentTarget).find('.sizeColorList').hide();
				}
			},
			sizeColorEdit : function(_this){
				$(_this.currentTarget).siblings('.sizeColorList').show()
			},
			
		}
	})
</script>

</html>