<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style>
			#container {  
    width: 90%;  
    margin: 0 auto;  
    border: 1px solid #000;  
}  
  
h3 {  
    width: 100%;  
    height: 40px;  
    line-height: 40px;  
    text-align: center;  
    margin: 0;  
    border-bottom: 1px solid #000;  
}  
  
.myTitle,  
.myContent {  
    font-size: 0;  
    width: 100%;  
    padding: none;  
    list-style: none;  
}  
  
.myTitle li,  
.myContent li {  
    width: 25%;  
    font-size: 14px;  
    height: 30px;  
    line-height: 30px;  
    text-align: center;  
    display: inline-block;  
}  
  
.myTitle li:not(:first-child),  
.myContent li:not(:first-child) {  
    box-sizing: border-box;  
    border-left: 1px solid #000;  
}  
  
.myContent ul {  
    border-top: 1px solid #000;  
}  
.priceAll,.tips{  
    border-top: 1px solid #000;  
}  
		</style>
	</head>
	<body >
		<div>  
    展示：商品名称，商品价格，商品购买数量，操作按钮，商品总价<br>  
    方法：增加方法addNum，减少方法reduceNum,移除商品removeGoods<br>  
    计算属性：计算总价<br>  
    添加input框，输入值，响应更新<br>  
</div>  
<div id="container">  
    <h3>我的购物车</h3>  
    <div class="myTitle">  
        <ul>  
        <span style="white-space:pre">  </span><!--//input的value通过v-model绑定，通过addCommodity（）实现响应更新-->  
        <span style="white-space:pre">  </span><li>商品名称：<span><input type="text" v-model="inputName"/></span></li>  
            <li>商品价格：<span><input type="number" v-model="inputPrice"/></span></li>  
            <li>商品数量：<span><input type="number" v-model="inputNum"/></span></li>  
            <li>操作/ <button v-on:click="addCommodity(items.length)">加入</button></li>  
        </ul>  
    </div>  
    <!--判断items长度，渲染不同模板，因为切换不是很频繁所以选择v-if渲染-->  
    <template v-if="items.length">  
        <div class="myContent">  
            <ul v-for = "(item,index) in items" v-bind:id = item.id>   
                <li>{{item.name}}</li>  
                <li>￥{{item.price}}</li>  
                <li>  
                    <span v-on:click = "addNum(index)"><button>+</button></span>  
                    <span>{{item.count}}</span>  
                    <span v-on:click = "reduceNum(index)"><button>-</button></span>  
                </li>  
                <li><button v-on:click = "removeGoods(index)">移除</button></li>  
            </ul>  
        </div>  
        <div class="priceAll">  
            <!--currency过滤器 : 将输入的数字转换成现金的过滤器。可以跟上货币符号（默认$）和保留的小数位（默认2）。-->  
            <span>总价:{{priceTotal | currency '￥' '2'}}</span>  
        </div>  
    </template>  
    <template v-else>  
        <div class="tips">  
            您的购物车空了，  
            你是否需要<a href="#">重新挑选</a>  
        </div>  
    </template>  
</div>  
	</body>
	<script src="vue.min.js"></script>
	<script>

			var buyCar = new Vue({
		el: "#buyCarBox",
		data: {
			transitionName :  'expand',
			cloths: [{
					ImagePath: '/Content/Images/information/carClothDemo.jpg',
					Name: '1',
					Size: 'M',
					Color: '黑色',
					Price: '1680.00',
					Active: '0.5',
					Count: '1',
					Checked: 0,
				},
				{
					ImagePath: '/Content/Images/information/carClothDemo.jpg',
					Name: '2',
					Size: 'S',
					Color: '黑色',
					Price: '1680.10',
					Active: '0.1',
					Count: '2',
					Checked: 0
				},
				{
					ImagePath: '/Content/Images/information/carClothDemo.jpg',
					Name: '3',
					Size: 'L',
					Color: '蓝色',
					Price: '10.00',
					Active: '0.1',
					Count: '3',
					Checked: 0
				},
				{
					ImagePath: '/Content/Images/information/carClothDemo.jpg',
					Name: '4',
					Size: 'M',
					Color: '黑色',
					Price: '1680.00',
					Active: '0.5',
					Count: '4',
					Checked: 0
				},
				{
					ImagePath: '/Content/Images/information/carClothDemo.jpg',
					Name: '5',
					Size: 'M',
					Color: '黑色',
					Price: '960.00',
					Active: '0.1',
					Count: '5',
					Checked: 0
				},
				{
					ImagePath: '/Content/Images/information/carClothDemo.jpg',
					Name: '6',
					Size: 'M',
					Color: '黑色',
					Price: '1870.00',
					Active: '0.5',
					Count: '6',
					Checked: 0
				},
			]
		},
		computed: {
			//选中商品总数量
			totalCount: function() {
				var totalCount = 0;
				for(var i = 0; i < this.cloths.length; i++) {
					if(this.cloths[i].Checked == 1) {
						totalCount += parseInt(this.cloths[i].Count)
					}
				}
				if(totalCount == 0) {
					this.totalAllCheck =  0;
					$('.totalAllCheck').addClass('totalUnCheck')
				}
				return totalCount;
			},
			//选中商品总价
			totalPrice: function() {
				var totalPrice = 0;
				for(var i = 0; i < this.cloths.length; i++) {
					if(this.cloths[i].Checked == 1) {
						totalPrice += parseInt(this.cloths[i].Count) * parseFloat(this.cloths[i].Price) * parseFloat(this.cloths[i].Active)
					}
				}
				return totalPrice;
			},
			//全选状态
			totalAllCheck : function(){
				var totalAllCheck = 1;
				for(var i = 0; i < this.cloths.length; i++) {
					totalAllCheck = this.cloths[i].Checked * totalAllCheck;
				}
				return totalAllCheck;
			}
		},
		methods: {
			checkedCloth: function(_this, index) {//单选商品
				var oClothchecked;
				var checked = this.cloths[index].Checked;
				if(checked == 0) {
					this.cloths[index].Checked = 1;
				} else {
					this.cloths[index].Checked = 0;
					oClothchecked = false;
				}
			},
			addNum: function(index) {
				this.cloths[index].Count++;
			},
			cutNum: function(index) {
				if(this.cloths[index].Count > 1) {
					this.cloths[index].Count--;
				}
			},
			minNum:function(_this,index){//商品最小数量限制
				var val = $(_this.currentTarget).val();
				if( this.cloths[index].Count < 1 ){
					this.cloths[index].Count = 1;
				}
			},
			AllChecked: function() {//全选按钮事件
				if($('.totalAllCheck').attr('data-state') == 0 ) {
					//全选
					for(var i = 0; i < this.cloths.length; i++) {
						this.cloths[i].Checked = 1;
					}
				} else {
					//全不选
					for(var i = 0; i < this.cloths.length; i++) {
						this.cloths[i].Checked = 0;
					}
				}
			},
			delCloth: function(index) {//删除某件商品
				this.cloths.splice(index, 1);
			},
			batchDelCloth: function() {//批量删除商品
				var _this = this;
				for(var i = 0; i < this.cloths.length; i++) {
					if( this.cloths[i].Checked == 1 ){
						layer.msg('确定将这些商品移出购物车么？', {
							icon : 7,
							time: 0, //不自动关闭
//							title : '零时尚',
							btn: ['是','否'], //按钮
							yes:function(){
								for(var i = 0, flag = false; i < _this.cloths.length; flag ? i++ : i) {
									if(_this.cloths[i].Checked == 1) {
										_this.cloths.splice(i, 1);
										flag = false;
									} else {
										flag = true;
									}
								}
								//回到顶部
								$('.buyCarCloth .hasCloth').css('top',0)
								layer.msg('删除成功', {icon : 1,time : 1500});
							}
						});
						break;
					}
				}
			},
			sizeColorMouseEnter : function(_this,index){
				$(_this.currentTarget).addClass('editingSizeColor')
			},
			sizeColorMouseLeave : function(_this,index){
				if($(_this.currentTarget).hasClass('colorCancel')){
					$(_this.currentTarget).parents('.sizeColor').removeClass('editingSizeColor');
					$(_this.currentTarget).parents('.sizeColor').find('.sizeColorList').hide();
				}else if($(_this.currentTarget).hasClass('sizeColor')){
					$(_this.currentTarget).removeClass('editingSizeColor');
					$(_this.currentTarget).find('.sizeColorList').hide();
				}
			},
			sizeColorEdit : function(_this){
				$(_this.currentTarget).siblings('.sizeColorList').show()
			}
		}
	})
</script>
</html>
